
services:
  spark-master:
    build: .
    container_name: spark-master
    environment:
      - SPARK_MODE=master
      - SPARK_MASTER_HOST=spark-master
      - SPARK_MASTER_PORT=7077
      - SPARK_PUBLIC_DNS=localhost
      - SPARK_DYNAMIC_ALLOCATION_ENABLED=true
      - SPARK_DYNAMIC_ALLOCATION_INITIAL_EXEC
    ports:
      - "8080:8080"   # Master UI
      - "7077:7077"   # Master Port
      - "4040:4040"
      - "18080:18080"
    volumes:
      - ./spark-defaults.conf:/opt/bitnami/spark/conf/spark-defaults.conf
      - ./app:/app
      - ./master_data:/master_data
      - ./spark-events:/tmp/spark-events

    networks:
      - spark-net

  spark-worker-1:
    build: .
    container_name: spark-worker-1
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
      - SPARK_WORKER_MEMORY=2G
      - SPARK_WORKER_CORES=2
    depends_on:
      - spark-master
    ports:
      - "8081:8081"   # Worker UI
    volumes:
      - ./spark-defaults.conf:/opt/bitnami/spark/conf/spark-defaults.conf
      - ./app:/app
      - ./worker1_data:/worker1_data
    networks:
      - spark-net

  spark-worker-2:
    build: .
    container_name: spark-worker-2
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
      - SPARK_WORKER_MEMORY=4G
      - SPARK_WORKER_CORES=4

    depends_on:
      - spark-master
    ports:
      - "8082:8081"   # Worker UI (mapped to host 8082)
    volumes:
      - ./spark-defaults.conf:/opt/bitnami/spark/conf/spark-defaults.conf
      - ./app:/app
      - ./worker2_data:/worker2_data
    networks:
      - spark-net

# Optional nc container for testing network
#  nc:
#    build: .
#    container_name: nc
#    command: [ "bash", "-lc", "echo 'Netcat listening on 0.0.0.0:9999'; while true; do nc -lk -p 9999; done" ]
#    ports:
#      - "9999:9999"
#    networks:
#      - spark-net
#    tty: true
#    stdin_open: true

volumes:
  spark-checkpoint:

networks:
  spark-net:
    driver: bridge
